/*
    font-family: 'Open Sans', sans-serif;
*/
/*inicio home*/
body{
    font-family: sans-serif;
    font-size: 16px;
    line-height: 20px;
}

header{
    background-color: #2e64a1;
    padding: 1em 0;
}

.logo{
    height: 100px;
    width: 100px;
}

header h1{
    color: white;
    font-size: 2.5em;
    font-style: italic;
    font-weight: 100; /* para que sea finita*/
    display: inline-block;
    position: relative;
    bottom: 30px;
}

nav{
    background-color: #6da9ed;
    margin-bottom: 2em;
}

nav ul{
    list-style: none;
    margin: 0; 
    padding: 0;
}

nav ul li{
    display: inline-block;
    width: 16.3%;
}

nav ul li a{
    color: white;
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 0.2em 0.4em;
}

nav ul li a:hover{
    background-color: rgba(0, 0, 0, 0.3);
}

footer{
    background-color: #ccc;
    clear: both;
    color: #333;
    padding: 3em 0;
    margin-top: 2em;
    text-align: center;
}

.desing{
    width: 100px;
    height: 100px;
}
.copy{
    display: inline-block;
    position: relative;
    bottom: 30px;
}

nav ul li a.activo{
    background-color: #4c76a5;
}

.holder{
    max-width: 1260px;
    margin: 0 auto;
}

h2{
    color: #2e64a1;
    font-weight: 400;
    margin: 0 0 0.1em;
}

.homeimg{
    margin-bottom: 1.5em;
}

img{
    width: 1260px;
}

.columnas{
    overflow: hidden;
}

.bienvenidos, .testimonio{
    box-sizing: border-box;
}

.bienvenidosleft{
    width: 75%;
    float: left;
}

.testimonioright{
    width: 25%;
    float: right;
}

.testimonio{
    background-color: #ccc;
    padding: 1em;
}

.testimonio .cita{
    font-weight: bold;
    font-style: italic;
    font-size: 1.4em;
    display: block;
}

.testimonio .autor{
    font-size: 0.7em;
    text-align: center;
    margin: 1em 0;
    display: block;
}

.lor{
    width: 75%;
}
/* fin home */

/*inicio nosotros*/

.historia p{
    font-size: 0.8em;
}

.personas{
    overflow: hidden;
}

.persona{
    width: 18%;
    border: 1px solid gray;
    border-radius: 0.25em;
    float: left;
    margin-left: 2.25%;
    box-sizing: border-box;
    text-align: center;
}

.persona img{
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    margin: 0.8em 0 0.1em;
    max-width: 70%;
}

.persona h5, .persona h6{
    text-align: center;
    font-weight: normal;
    color: #2e64a1;
    margin: 0;
}

.persona h5{
    font-size: 0.9em;
}

.persona h6{
    font-size: 0.8em;
    font-style: italic;
}

.persona p{
    font-size: 0.7em;
    color: #444;
    margin: 0 1em 1em;
}

.persona:first-child{
    margin-left: 0;
}