.padre{
    width: 600px;
    height: 600px;
    display: inline-flex;
    flex-direction: row-reverse;
    border: 1px black solid;
    align-items: center;
}
.item{
    width: 200px;
    height: 200px;
    text-align: center;
}
#rojo{
    background-color: red;
}
#azul{
    background-color: blue;
}
#verde{
    background-color: green;
}
p{
    text-align: center;
    font-size: 10px;
    color: white;
}