h1{
    color: black;
    font-style: italic;
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;  
}
h2{
    color: rebeccapurple;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
    box-shadow: 0 0 15px black;

}

li{
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-size: 20px;
    margin-top: 5px;
}
a{
    text-decoration: none;
    color: white;
}
p{
    color: white;
    text-align: center;
    margin-top: 10px;
    background-color: black;
    font-size: 15px;
}
a:hover{
    color: deepskyblue;
    font-size: 30px;
}
.padre{
    background-color: grey;
    width: 100%;
    height: 350px;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border: black solid;

}
.foto{
    display: none;
}
.datos{
    width: 500px;
    height: 350px;
    border: black solid;
    align-items: center;
}
.dipper{
 display: none;
}